/* --- GENERAL RULES --- */
:root {
    --my-gray-lighter-color: #f8f9fa;
    --my-gray-dark-color :#e5e5e5;
    --my-gray-darker-color: #b5b5b5;
    --my-light-color: #1b72e8;
    --my-dark-color: #051e34;
    --my-badge-color: #165bba;
}

.myWrapper {
    max-width: 100%;
    max-height: 100vh;
    min-width: 250px;
}

.imgContainer > img {
    width: 100%;
}

.myDarkColor {
    background-color: var(--my-dark-color);
}

.myBtnColor {
    color: white;
    border-color: white;
    font-weight: bolder;
}

.myBtnColor:hover {
    color: black;
    border-color: white;
    background-color: white;
}

.myBadge {
    background-color: var(--my-badge-color);
    font-weight: 400;
    font-size: 0.8rem;
}

.classIconContainer {
    max-width: 30px;
}

.classIconContainer img {
    width: 100%;
}

.myBtnActions {
    padding: 0.2rem 0.5rem;
}

.myDropdownReset,
.myDropdownReset:hover,
.myDropdownReset:active {
    background: none !important;
    border: none;
}

.myDropdownReset::after {
    display: none;
}

/* --- HEADER --- */
header {
    width: 100vw;
    height: 80px;
}

#navList {
    list-style: none;
}

#navList li {
    cursor: pointer;
}

.searchBarIconContainer {
    background-color: var(--my-gray-dark-color);
    cursor: pointer;
}

.searchBarInput {
    background-color: var(--my-gray-dark-color);
}

.searchBarInput::placeholder {
    font-size: 0.9rem;
}

#logoContainer img {
    max-height: 60px;
    cursor: pointer;
}

/* --- DASHBOARD */
.dashboard {
    height: calc(100vh - 80px);
}

/* sidebar */
aside {
    height: calc(100vh - 80px);
}

#sidebarList {
    list-style: none;
    height: 100%;
}

#sidebarList li {
    cursor: pointer;
}


#sidebarList li:not(:last-child):hover,
#sidebarList li:last-child div:hover {
    background-color: var(--my-gray-darker-color);
}

/* main */
main {
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    background-color: var(--my-gray-lighter-color);
}

tr > *:first-child {
    width: 35%;
}

.overview {
    background-color: var(--my-light-color);
}

.list-group-item img {
    width: 100%;
}

.mySmallText {
    font-size: 0.9rem;
}

.myCustomOCWidth {
    width: 100vw !important;
}

@media screen and (max-width: 576px) {
    
}

@media screen and (min-width: 576px){
    .overview .row .myText {
        font-size: 0.95rem;
    }

    .myCustomOCWidth {
        width: 50vw !important;
    }
}

@media screen and (min-width: 992px){
    .overview .row .myText {
        font-size: 0.9rem;
    }
}